@import "../../styles/variables.scss";

.loader {
  display: none;
}

.loader_active {
  margin: 20%;
  border: 8px solid $color1; /* Light grey */
  border-top: 8px solid $color0; /* Blue */
  border-radius: 50%;
  width: 75px;
  height: 75px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
